<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Is done:</strong>
  <%= @task.is_done %>
</p>

<p>
  <strong>Due on:</strong>
  <%= @task.due_on %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
